<!doctype html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link  rel="stylesheet" href="static\style.css">

    <title>Курс Євро</title>
</head>
<body>

<h1 class="text">Курс Євро</h1>
<script src="\static\JavaCode.js"></script>
<br>
<button class="search" onclick="SearchBitcoin()">Знайти курс</button>
<br>
<a href="/create-aricle">Запис</a>
<script src="/static/jquery-3.6.0.min.js"></script>
</body>
</html>